/****** Universal Base Styles ********/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}

/********* Universal Header Styles **********/
.header-container {
  text-align: center;
}

.header-wrapper {
  padding-bottom: 3%;
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
}

.title {
  margin-bottom: 15px;
  background: url(../images/titleBackground.jpg) no-repeat;
  background-size: cover;
  padding: 10% 15%;
  display: flex;
  flex-direction: column;

}

.title h1,
.title h3 {
    margin: 0;
    padding: 5px;
    font-family: 'Sofia', cursive;
    color: red;
    text-shadow: 3px 5px 5px black;
}

.title h1 {
  font-weight: bold;
  font-size: 2.5em;
}

.title h3 {
  font-size: 1.5em;
}

nav {
  width: 90%;
  margin: auto;
}

nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
}

nav a {
    text-decoration: none;
    background: rgb(96, 68, 209);
    padding: 5px 0;
    margin-bottom: 10px;
    display: block;
    color: white;
}
/* Thise places the Home button at the from of the row on each page */
.home-button {
  order: -1;
}

/* Main Content Styles */
.t-border {
  border-top: 2px solid rgb(96, 68, 209)
}

.main-wrapper {
  width: 95%;
  margin: auto;
  text-align: center;
}

.main-title {
  font-size: 2em;
  font-family: "Arial Black", Gadget, sans-serif;
  color: red;
  text-shadow: 5px 3px 15px black;
}

/* Index.html Styles */
/* Circle portrait of Les Home page */
.portrait {
  border-radius: 50%;
  display: block;
  margin: auto;
  border: 5px solid rgb(96, 68, 209);
  box-shadow: 3px 3px 5px 6px rgb(0, 0, 0, 0.4);  
}

.kids-portrait {
  width: 100%;
  height: 300px;
  border-radius: 10% 20%;
  border: 5px solid rgb(96, 68, 209);
  box-shadow: 3px 3px 5px 6px rgb(0, 0, 0, 0.4);
}

.hidden-text {
  display: none;
}

/*************** SupportForm.html Styles *****************/
body form {
  font-family: 'Nunito', sans-serif;
  color: #384047;
}

form {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

form h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

.checkbox {
  display: inline-block
}

.number {
  background-color: #5fcf80;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

/************** SupportLeslie.html Styles ********8*/
.col-images {
  width: 75%;
  cursor: pointer;
  margin-bottom: 10px;
}

.support-leslie-main img {
  border-radius: 25%;
  border: 5px solid rgb(96, 68, 209);
  box-shadow: 3px 3px 5px 6px rgb(0, 0, 0, 0.4);
}

.modal .close {
  width: auto;
}

/*********** Footer Styles ****************/
.footer {
  background-color: rgb(114, 114, 122);
  text-align: center;
  padding: 15px 0;
  flex: 1;
  margin-top: 15px;
}

/*************** Pseudo Classes ***************/

a:hover {
  background: rgb(43, 5, 197)
}

/*************** Media Queries ****************/

@media only screen and (min-width: 420px) {
  form {
    max-width: 550px;
  }
  
  nav ul {
    max-width: 650px;
    flex-direction: row;
    justify-content: space-around;
  }
  
  nav li {
   width: 32%;
  }

  nav a {
    padding: 8% 3%;
    font-size: 1.15em;
  }

  .photo-container img {
    display: block;
    margin: auto;
  }

  .kids-portrait {
    max-width: 450px;
  }
}

@media only screen and (min-width: 500px) {
  .main-wrapper {
    max-width: 475px;
  }
} 

@media only screen and (min-width: 700px) {
  .main-wrapper {
    max-width: 85%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .title h1 {
    font-size: 3.5em;
  }

  .title h3 {
    font-size: 2.5em;
  }

  .main-title {
    font-size: 3em;
    margin: auto;
    padding: 20px 0px;
    flex: 1 100%;
  }

  .hidden-700 {
    flex: 1.5 50%;
    align-self: center;
  }

  .portrait {
    width: 75%;
  }

  .kids-portrait {
    max-width: 350px;
  }

  .hidden-text {
    display: block;
    font-size: 1.5em;
  }

  .main-wrapper section {
    flex: 1 40%;
    margin-left: 2%;
  }

  .photo-container img {
    display: inline-block;
  }

  .support-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 50px;
    justify-content: space-around;
  }

  .support-header img {
    max-height: 250px;
    margin-right: 20px;
    max-width: 320px;
  }

  .support-header p {
    font-size: 1.4em;
  }

  .support-col-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding-top: 25px;
    margin-bottom: 20px;
  }

  .support-col-flex div {
    width: 45%;
  }


}

@media only screen and (min-width: 900px) {
  nav ul {
    max-width: 90%;

  }
  
  nav li {
    margin: 2%;
    width: 25%;
  }

  .support-header p {
    font-size: 2em;
  }

}
 

/********** Clear Fix ************/

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}