/****** Base Styles ********/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.header-container {
  text-align: center;
}

.wrapper {
  padding-bottom: 3%;
}

.title {
  margin-bottom: 15px;
  background: url(../images/titleBackground.jpg) no-repeat;
  background-size: cover;
  padding: 10% 15%;
}

.title h1,
.title h3 {
    margin: 0;
    padding: 5px;
    font-family: 'Sofia', cursive;
    color: red;
    text-shadow: 3px 5px 5px black;
}

.title h1 {
  font-weight: bold;
  font-size: 2.5em;
}

.title h3 {
  font-size: 1.5em;
}

nav {
  width: 90%;
  margin: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    background: rgb(96, 68, 209);
    padding: 5px 0;
    margin-bottom: 10px;
    display: block;
    color: white;
}

.t-border {
  border-top: 2px solid rgb(96, 68, 209)
}

.main-wrapper {
  width: 95%;
  margin: auto;
  text-align: center;
}

.main-title {
  font-size: 2em;
  font-family: "Arial Black", Gadget, sans-serif;
  color: red;
  text-shadow: 5px 3px 15px black;
}

.portrait {
  border-radius: 50%;
  display: block;
  margin: auto;
  border: 5px solid rgb(96, 68, 209);
  box-shadow: 3px 3px 5px 6px rgb(0, 0, 0, 0.4);
}

.kids-portrait {
  width: 100%;
  height: auto;
  border-radius: 10% 20%;
  border: 5px solid rgb(96, 68, 209);
  box-shadow: 3px 3px 5px 6px rgb(0, 0, 0, 0.4);
}

.hidden-text {
  display: none;
}

.footer {
  background-color: rgb(114, 114, 122);
  text-align: center;
  padding: 15px 0;
  margin-top: 25px;
}

/*************** Pseudo Classes ***************/

a:hover {
  background: rgb(43, 5, 197)
}

/*************** Media Queries ****************/

@media only screen and (min-width: 420px) {
  nav ul {
    max-width: 650px;
    margin: auto;
  }
  
  nav li {
    display: inline-block;
    width: 32%;
  }

  nav a {
    padding: 8% 3%;
    font-size: 1.15em;
  }

  .photo-container img {
    display: block;
    margin: auto;
  }

  .kids-portrait {
    max-width: 450px;
  }
}

@media only screen and (min-width: 500px) {
  .main-wrapper {
    max-width: 475px;
  }
} 

@media only screen and (min-width: 700px) {
  .main-wrapper {
    max-width: 85%;
  }

  .title h1 {
    font-size: 3.5em;
  }

  .title h3 {
    font-size: 2.5em;
  }

  .main-title {
    font-size: 3em;
  }

  .hidden-700 {
    float: left;
    width: 48%
  }

  .portrait {
    width: 75%;
  }

  .kids-portrait {
    max-width: 350px;
  }

  .hidden-text {
    display: block;
    font-size: 1.5em;
  }

  .main-wrapper section {
    float: right;
    width: 48%;
  }

  .photo-container img {
    display: inline-block;
  }
}

@media only screen and (min-width: 900px) {
  nav ul {
    max-width: 90%;

  }
  
  nav li {
    margin: 2%;
    width: 25%;
  }
}
 

/********** Clear Fix ************/

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}